{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loan Statement</title>
  <link rel="stylesheet" href="{{ base_url }}{% static 'sassets/css/style.css' %}">
</head>
<body>
  <div class="cs-container">
    <div class="cs-invoice cs-style1">
      <div class="cs-invoice_in" id="download_section">
        <!-- Header Section -->
        <div class="cs-invoice_head cs-type1 cs-mb25">
          <div class="cs-invoice_left">
            <p class="cs-invoice_number cs-primary_color cs-mb0 cs-f16">
              <b>REF NO:</b> #{{ loan_id }}
            </p>
            <img src="{{ qr_image_path }}" alt="QR Code" style="width: 100px; height: 100px;">
          </div>
          <div class="cs-invoice_right cs-text_right">
            <p style="color:#BE3290;" class="cs-invoice_number cs-mb0 cs-f16"><b>FLEXICASH</b></p>
          </div>
        </div>

        <!-- Introduction Section -->
        <div class="cs-invoice_head cs-mb10">
          <div class="cs-invoice_left">
            <p><b>Loan Statement</b></p>
            <p>A summary of your recent loan transactions.</p>
          </div>
          <div class="cs-invoice_right cs-text_right">
            <p>Bamburi, Mombasa<br/>info@flexicash.com</p>
          </div>
        </div>

        <!-- Member Information Section -->
        <div class="cs-heading cs-style1 cs-f18 cs-primary_color cs-mb25 cs-semi_bold">Member Information</div>
        <ul class="cs-grid_row cs-col_3 cs-mb5">
          <li><p><b>MEMBER NAME</b><br>{{ member.first_name }} {{ member.last_name }}</p></li>
          <li><p><b>MEMBERSHIP ID</b><br>{{ member.membership_number }}</p></li>
          <li><p><b>LOAN TYPE</b><br>{{ loan_type }}</p></li>
        </ul>

        <!-- Statement Period Section -->
        <div style="color:#BE3290;text-align:center" class="cs-heading cs-style1 cs-f18 cs-primary_color cs-mb25 cs-semi_bold">{{ period }} MONTH LOAN STATEMENT</div>

        <!-- Transactions Table -->
        <div class="cs-table cs-style2">
          <div class="cs-round_border">
            <div class="cs-table_responsive">
              <table>
                <thead>
                  <tr class="cs-focus_bg">
                    <th>Date</th>
                    <th>Description</th>
                    <th class="cs-text_right">Amount</th>
                    <th class="cs-text_right">Balance</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                  <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.description }}</td>
                    <td class="cs-text_right">{{ transaction.amount }}</td>
                    <td class="cs-text_right">{{ transaction.balance }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Summary Section -->
        <div class="cs-table cs-style2">
          <div class="cs-table_responsive">
            <table>
              <tbody>
                <tr class="cs-table_baseline">
                  <td><b>Loan Status:</b> Active</td>
                  <td class="cs-text_right">
                    <b>Total Paid:</b> {{ total_paid }}<br/>
                    <b>Balance:</b> {{ loan_balance }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
