{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Site Title -->
    <title>Flexicash</title>
    <link
      rel="stylesheet"
      href="{{ base_url }}{% static 'sassets/css/style.css' %}"
    />
  </head>

  <body>
    <div class="cs-container">
      <div class="cs-invoice cs-style1">
        <div class="cs-invoice_in" id="download_section">
          <div class="cs-invoice_head cs-type1 cs-mb25">
            <div class="cs-invoice_left">
              <div class="cs-logo cs-mb5">
                {% comment %} <img src="{{ qr_image_path }}" alt="Logo" /> {% endcomment %}
                 <img
                  src="{{ base_url }}{% static 'sassets/img/qr.png' %}"
                  alt="Logo"
                />
              </div>
              <p class="cs-invoice_number cs-primary_color cs-mb0 cs-f16">
                <b class="cs-primary_color">REF N0:</b> #{{loan_id}}
              </p>
            </div>
            <div class="cs-invoice_right cs-text_right">
              <div class="cs-logo cs-mb5">
                <img
                  src="{{ base_url }}{% static 'sassets/img/logo.png' %}"
                  alt="Logo"
                />
              </div>
              <p style="color: #be3290" class="cs-invoice_number cs-mb0 cs-f16">
                <b>FLEXICASH</b>
              </p>
            </div>
          </div>
          <div class="cs-invoice_head cs-mb10">
            <div class="cs-invoice_left">
              <b class="cs-primary_color">Loan Statement </b>
              <p class="cs-mb8">
                A summary of your recent loan transactions, including
                disbursements, repayments, and outstanding balance.
              </p>
            </div>

            <div class="cs-invoice_right cs-text_right">
              <b class="cs-primary_color">Flexicash Microfinance</b>
              <p>
                Bamburi, Mombasa <br />
                info@flexichash.com <br />
                <br />
              </p>
            </div>
          </div>
          <div
            class="cs-heading cs-style1 cs-f18 cs-primary_color cs-mb25 cs-semi_bold"
          >
            Member Information
          </div>
          <ul class="cs-grid_row cs-col_3 cs-mb5">
            <li>
              <p class="cs-mb20">
                <b class="cs-primary_color">MEMBER NAME</b> <br /><span
                  class="cs-primary_color"
                  >{{member.first_name}} {{member.last_name}}</span
                >
              </p>
            </li>
            <li>
              <p class="cs-mb20">
                <b class="cs-primary_color">MEMBERSHIP ID</b> <br /><span
                  class="cs-primary_color"
                  >{{member_id}}</span
                >
              </p>
            </li>
            <li>
              <p class="cs-mb20">
                <b class="cs-primary_color">LOAN TYPE</b> <br /><span
                  class="cs-primary_color"
                  >{{loan_type}}
                </span>
              </p>
            </li>
          </ul>
          <div
            style="color: #be3290; text-align: center"
            class="cs-heading cs-style1 cs-f18 cs-primary_color cs-mb25 cs-semi_bold"
          >
            {{period}} MONTH LOAN STATEMENT
          </div>

          <div class="cs-table cs-style2">
            <div class="cs-round_border">
              <div class="cs-table_responsive">
                <table>
                  <thead>
                    <tr class="cs-focus_bg">
                      <th class="cs-width_2 cs-semi_bold cs-primary_color">
                        Date
                      </th>
                      <th class="cs-width_6 cs-semi_bold cs-primary_color">
                        Description
                      </th>
                      <th
                        class="cs-width_2 cs-semi_bold cs-primary_color cs-text_right"
                      >
                        Amount
                      </th>
                      <th
                        class="cs-width_2 cs-semi_bold cs-primary_color cs-text_right"
                      >
                        Balance
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transactions %}
                    <tr>
                      <td class="cs-width_2">
                        {{ transaction.date|date:"d/m/Y" }}
                      </td>
                      <td class="cs-width_5">
                        {{ transaction.transaction_type }}
                      </td>
                      <td class="cs-width_4 cs-text_right cs-primary_color">
                        {{ transaction.amount }}
                      </td>
                      <td class="cs-width_4 cs-text_right cs-primary_color">
                        {{current_balance}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="cs-table cs-style2">
            <div class="cs-table_responsive">
              <table>
                <tbody>
                  <tr class="cs-table_baseline">
                    <td class="cs-width_5">
                      <b class="cs-primary_color"></b><br />
                      <br />
                    </td>
                    <td class="cs-width_5 cs-text_right">
                      <p
                        class="cs-mb5 cs-mb5 cs-f15 cs-primary_color cs-semi_bold"
                      >
                        Paid:
                      </p>
                      <p
                        class="cs-mb5 cs-mb5 cs-f15 cs-primary_color cs-semi_bold"
                      >
                        Balance:
                      </p>
                    </td>
                    <td class="cs-width_2 cs-text_rightcs-f16">
                      <p
                        class="cs-mb5 cs-mb5 cs-text_right cs-f15 cs-primary_color cs-semi_bold"
                      >
                        {{total_paid}}
                      </p>
                      <p
                        class="cs-mb5 cs-mb5 cs-text_right cs-f15 cs-primary_color cs-semi_bold"
                      >
                        {{current_balance}}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>